@model List<Student>

<h3>Student List</h3>

<table>
    <thead>
    <tr>
        <td> ID </td>
        <td> Name </td>
        <td> Surname </td>
        <td>  </td>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td width="70">@item.ID</td>
            <td width="70">@item.Name</td>
            <td width="70">@item.Surname</td>
            <td><a asp-controller="Student" asp-action="Detail" asp-route-id="@item.ID">Click For Detail</a></td>
        </tr>
    }
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td>
            <form asp-controller="Student" asp-action="Create" method="get">
                <button type="submit" class="btn btn-primary">Create New Student</button>
            </form>
        </td>
    </tr>
    </thead>
</table>